{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $icon := "fa-file-alt" }}
{{ $show_authors := false }}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
  {{ $icon = "fa-newspaper" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $icon = "fa-comment-alt" }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_authors = true }}
  {{ $show_buttons = true }}
{{ end }}

<div class="view-list-item" itemscope itemtype="http://schema.org/{{$microdata_type}}">
  <i class="far {{$icon}} pub-icon" aria-hidden="true"></i>
  {{ if eq $item.Type "talk" }}
  <span class="talk-title">
  {{ else if eq $item.Type "publication" }}
  <span class="publication-title">
  {{ end }}
  <a href="{{ $item.RelPermalink }}" itemprop="url">
      <span itemprop="name">{{ $item.Title }}</span>
  </a>
  {{ if or (eq $item.Type "talk") (eq $item.Type "publication") }}
  </span>
  {{ end }}

  {{ if eq $item.Type "talk" }}
  <div class="article-metadata">
    <span itemprop="startDate">
      {{ $date := $item.Date }}
      {{ (time $date).Format site.Params.date_format }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span itemprop="location">{{ . }}</span>
    {{ end }}
    {{ with $item.Params.event }}
    </br>
    <span class="event">
        {{ with $item.Params.event_url }}
        <a href={{ . }} target="_blank">
        {{ end }}
        {{ . | markdownify }}
        {{ if $item.Params.event_url }}
        </a>
        {{ end }}
    </span>
    {{ end }}
  </div>
  {{ end }}

  {{ if and $show_authors $item.Params.authors }}
  <div class="article-metadata" itemprop="author">
    {{ partial "page_metadata_authors" $item }}
  </div>
  {{ end }}
  <div class="article-metadata">
      <span class="pub-publication">
          {{ with $item.Params.url_publication }}
          <a href={{ . }} target="_blank">
              {{ end }}
              {{ if $item.Params.publication_short }}
              {{ $item.Params.publication_short | markdownify }}
              {{ else if $item.Params.publication }}
              {{ $item.Params.publication | markdownify }}
              {{ end }}
              {{ if $item.Params.url_publication }}
          </a>
          {{ end }}
      </span>
  </div>

  {{ if $show_buttons }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
