{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ range $index, $value := . }}
    {{- $profile_page := site.GetPage (printf "/%s/%s" $taxonomy (. | urlize)) -}}
    {{- $author := index (where $.Site.Data.url.url "id" $value) 0 -}}
    {{- $name := $profile_page.Params.name | default ($author.name|markdownify) -}}
    {{- if gt $index 0 }}, {{ end -}}
    <span>
      {{- if eq $value "admin" -}}
        {{$name}}
      {{- else if and $profile_page $link_authors -}}
        <a href="{{$profile_page.RelPermalink}}">{{$name}}</a>
      {{- else -}}
        <a href="{{ $author.link }}" target="_blank">{{$name}}</a>
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
