{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Content }}
      <div class="article-style">{{ . }}</div>
      {{ end }}

      {{ range .Data.Pages.GroupByDate "2006" }}
      <div class="row" id="talk_list">
        <div class="col-lg-2">
          <h3>{{ .Key }}</h3>
        </div>
        <div class="col-lg-10">

          {{ range .Pages }}
            {{ if eq $.Params.view 1 }}
              {{ partial "li_list" . }}
            {{ else if eq $.Params.view 3 }}
              {{ partial "li_card" . }}
            {{ else if eq $.Params.view 5 }}
              {{ partial "li_custom" . }}
            {{ else }}
              {{ partial "li_compact" . }}
            {{ end }}
          {{ end }}

        </div>
      </div>
      {{ end }}

    </div>
  </div>

</div>

{{- end -}}
